<html ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script src="http://code.jquery.com/jquery-3.3.1.min.js"
	integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	crossorigin="anonymous"></script>
<script src="assets/plugins/angular.min.js"></script>
<script src="https://code.angularjs.org/1.2.17/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
<script src="assets/plugins/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

<!-- AngularJS -->
<script src="app/app.module.js"></script>
<script src="app/app.config.js"></script>
<script src="app/app.route.js"></script>

<script src="app/app-ctrl.js"></script>
<script src="app/modules/home/home-ctrl.js"></script>
<script src="app/modules/pageOne/pageOne-ctrl.js"></script>
<script src="app/modules/pageTwo/pageTwo-ctrl.js"></script>
<script src="app/modules/user/login-ctrl.js"></script>
<script src="app/modules/user/user-ctrl.js"></script>

<!-- CSS -->
<!-- <link href="assets/plugins/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<link href="assets/css/signin.css" rel="stylesheet">

</head>
<body>
	<div id="loading"></div>
	<div ng-cloak ng-controller="AppCtrl" ng-init="load()">
		<!--登入表单 -->
		<div ng-if="!isLogin" , ng-controller="LoginCtrl">
		<div class="box-wrap form-signin">
			<form>
				<img class="mb-4"
					src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg"
					alt="" width="72" height="72">
				<h1 class="h3 mb-3 font-weight-normal">My Web</h1>
				<input ng-model="account" type="text" id="inputAccount"
					class="form-control" placeholder="Account"> <input
					ng-model="password" type="password" id="inputPassword"
					class="form-control" placeholder="Password">
				<div class="checkbox mb-3">
					<label> 
						<input type="checkbox" value="remember-me"> Remember me
					</label>
				</div>
				<button ng-click="login()" class="btn btn-lg btn-primary btn-block"
					type="submit">Login</button>
				<p class="mt-5 mb-3 text-muted">© 2018-02-22</p>
			</form>
			<div>{{errMsg}}</div>
			</div>
		</div>
		
		<div ng-if="isLogin" ng-controller="UserCtrl">
				<nav class="navbar fixed-top flex-md-nowrap bg-white border-bottom box-shadow">
					<div class="mr-auto"> 我是頂端列   Hi, {{userName}} </div>
					<div></div>
					<div class="col-auto"> <button ng-click="logout()" type="submit">Logout</button> </div>
				</nav>
				
				<div class="container-fluid">
					<div class="row">
	
						<div class="col-md-2 d-none d-md-block bg-light sidebar">
							<nav class="sidebar-sticky collapse.show bd-links">
								<div class="nav-item" ng-repeat="page in pageList">
									<a class="nav-link" href="{{page.url}}">{{page.name}}</a>
								</div>
							</nav>
						</div>
	
						<main role="main" class="col-md-9 ml-sm-auto view">
								<div ui-view class="md-padding"></div>
						</main>
					</div>
				</div>
		</div>
	</div>

</body>
</html>
